<header class="site-header">
  <div class="container">
    <div class="text-nowrap col-md-6 col-sm-3 col-xs-3 text-left header-logo"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }} &middot;</a></div>
    <div class="col-md-offset-3 col-md-3 nav-links col-sm-offset-0 text-right">
      <ul class="list-inline">
        {% for link in site.pages %}
        {% if link.title %}
          <li>
            {% if link.url == page.url %}
            {{ link.title }}
            {% else %}
              <a class="page-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
            {% endif %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    </div>
  </div>
</header>