article.post-content {
  padding-top: 1em;
  text-align: left;
  font-size: 1.5em;
  margin: 0 auto;
  width: 1060px;
  p {
    margin-bottom: 1em;
    line-height: 1.75em;
    img.pull-left {
      clear: both;
      margin-right: 1em;
      margin-bottom: 1ex;
    }
    img.pull-right {
      clear: both;
      margin-left: 1em;
      margin-bottom: 1ex;
    }
  }
  img.wide-photo {
    width: 100%;
    clear: both;
    margin-bottom: 1em;
  }
  img.slightly-wider-photo {
    width: auto;
  }
  img {
    width: 350px;
    border: 1px solid #111;
  }
}

.post-standard {
  p {
    img.pull-left, img.pull-right {
      margin-top: 1ex;
    }
  }
}

.main-blog-photo {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  img {
    width: 100% !important;
  }
}

.photo-array {
  margin-bottom: 1em;
  img {
    margin-left: .5ex;
    &:first-child {
      margin-left: 0;
    }
  }
  
}

.about-page {
  text-align: left;
  img {
    width: 350px !important;
    float: left;
    margin-right: 1.7em;
    margin-bottom: 1em;
    border: 2px solid #111;
  }
}

div.post-list {
  div.post-tile {
    padding-bottom: .75em;
    h2 {
      font-size: 155%;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
    }
    .post-image {
      text-align: center;
      margin-top: 1ex;
      display: block;
      img {
        margin: 0 auto;
        border: 2px solid #cdcdcd;
      }
    }
    aside {
      font-size: .8em;
      text-align: center;
      color: $grey-color;
    }
    p {
      font-size: .9em;
      text-align: justify;
      a {
        color: #660033;
      }
    }
    div.highlighter {
      &:hover {
        .post-image img {
          border: 2px solid #111;
        }
      }
    }
  }
}


body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding-top: 54px;
}


a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

a.site-title {
  font-size: 2.2em;
  padding-left: 20px;
  &:hover {
    color: #A0A0A0;
  }
}

.header-logo {
  background-image: url(/images/logo_header.png);
  background-repeat: no-repeat;
  background-position: 5px 0;
}

.nav-links {
  padding-top: 1.3em;
  a {
    color: #A0A0A0;
    &:hover {
      color: $text-color;
    }
  }
}

.site-header {
  border-bottom: 1px solid #111;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: $background-color;
}

.post-title {
  font-size: 5em;
  margin-top: 1ex;
  text-align: center;
}

.post-header .post-meta {
  text-align: center;
  color: $grey-color;
}

.carousel {
  border-bottom: 1px solid #111;
}

.homepage-carousel {
  .carousel-inner {
    height: 32em;
    // img {
    //   margin-top: -70px;
    // }
  }  
}

@media only screen and (min-width: 1300px) {
  .homepage-carousel {
    .carousel-inner {
      height: 50em;
    }  
  }
}

@media only screen and (min-width: 1800px) {
  .homepage-carousel {
    .carousel-inner {
      height: 60em;
    }  
  }
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

a.carousel-control {
  opacity: 1;
}

.pagination li {
  &.active {
    a, a:hover {
      color: #fff;
      background-color: $text-color;
      border-color: $text-color;
    }
  }
  a {
      color: $grey-color;
      font-size: 2.2ex;
      &:hover {
        color: $text-color;
        background-color: #C0C0C0;
      }
  }
}