article.post-content {
  padding-top: 1em;
  text-align: center;
  img {
    width: 530px;
    }
  }

.about-page {
  text-align: left;
  img {
    width: 350px !important;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

div.post-list {
  div.post-tile {
    h2 {
      font-size: 130%;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .post-image {
      text-align: center;
      display: block;
      img {
        margin: 1ex auto;
      }
    }
    aside {
      font-size: .7em;
      text-align: center;
      color: $grey-color;
    }
    p {
      font-size: .9em;
      text-align: justify;
      a {
        color: #660033;
      }
    }
  }
}


body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding-top: 60px;
}


a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

a.site-title {
  font-size: 2.2em;
  &:hover {
    color: #A0A0A0;
  }
}

.nav-links {
  padding-top: 1.3em;
  a {
    color: #A0A0A0;
    &:hover {
      color: $text-color;
    }
  }
}

.site-header {
  border-bottom: 1px solid #111;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: $background-color;
}

.home-picture {
  background-color: $background-color;
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 56px;
  height: 35em;
}

.post-title {
  font-size: 25px;
  margin-top: 4em;
}

.homepage-carousel {
  .carousel-inner {
    height: 35em;
  }  
}