<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page-wide-photo-post">

    {% include header.html %}
        <div class="container">
      <div class="page-content">
        <div class="wrapper">
          <div class="post">

            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

          </div>
        </div>
      </div>
    </div>
  <div class="container-fluid"><div class="row main-blog-photo"><img class="img-responsive" src="/images/{{ page.main_photo }}"></div>
</div>
    <div class="container">
      <div class="page-content">
        <div class="wrapper">
          <div class="post center-block">

            <div class="col-md-12 col-lg-11 center-block" style="float: none;">
              <article class="post-content">{{ content }}</article>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
